/* theme */

:root {
    --theme-app-icon: var(--icon-polywonks);
    --theme-alt: 0, 122, 204;
    --theme-focus: var(--theme-alt);
    --theme-text: 204, 204, 204;
    --theme-text-active: 255, 255, 255;
    --theme-icon: 195, 195, 195;
    --theme-icon-active: 255, 255, 255;
    --theme-back-0: 30, 30, 30;
    --theme-back-1: 37, 37, 38;
    --theme-back-2: 51, 51, 51;
    --theme-back-3: 56, 56, 56;
    --theme-back-4: 60, 60, 60;
    --theme-invalid: 255, 0, 0;
    --theme-disabled-alpha: 0.4;
    --theme-control: var(--theme-back-4);
    --theme-control-border: 68, 68, 68;
    --theme-control-border-active: 102, 102, 102;
    --theme-control-highlight: 6, 47, 74;
    --theme-popup: var(--theme-back-1);
    --theme-popup-shadow: 0 2px 4px rgb(0, 0, 0, 0.5);
    --theme-dialog: var(--theme-back-1);
    --theme-dialog-overlay: 0, 0, 0, 0.2;
    --theme-dialog-header: var(--theme-focus), 0.5;
    --theme-dialog-button: var(--theme-back-2);
    --theme-dialog-button-active: var(--theme-back-3);
    --theme-dialog-shadow: 0 0px 10px 4px rgb(0, 0, 0, 0.5);
    --theme-list-icon: 232, 232, 232;
    --theme-list-hover: 42, 45, 46;
    --theme-list-highlight: 55, 55, 61;
    --theme-panel-header: var(--theme-back-3);
    --theme-sidebar: var(--theme-back-1);
    --theme-sidebar-toolbar: var(--theme-back-2);
    --theme-statusbar: var(--theme-back-4);
    --theme-titlebar: var(--theme-back-4);
    --theme-menubar-highlight: 80, 80, 80;
    --theme-menu: var(--theme-back-1);
    --theme-menu-shadow: var(--theme-popup-shadow);
    --theme-menu-highlight: 9, 71, 113;
    --theme-tab-back: var(--theme-back-1);
    --theme-tab: 45, 45, 45;
    --theme-tab-text: var(--theme-text-active), 0.5;
    --theme-tab-active: var(--theme-back-0);
    --theme-tab-active-text: var(--theme-text-active);
    --theme-canvas-shadow: inset 0 0 4px 1px rgb(0, 0, 0, 0.5);
    --theme-scrollbar-0: var(--theme-back-0);
    --theme-scrollbar-1: 47, 47, 47;
    --theme-scrollbar-2: var(--theme-back-4);
    --theme-scrollbar-shadow-corner: inset 0 0 6px rgb(0, 0, 0, 0.3);
    --theme-scrollbar-shadow-track: inset 0 0 6px rgb(0, 0, 0, 0.3);
    --theme-scrollbar-shadow-thumb: inset 0 0 6px rgb(0, 0, 0, 0.5);
}

/* icons / images */

:root {
    --alpha-pattern: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMjHxIGmVAAAAHElEQVQYV2M4gwT+IwFqSkBpMIDKgwHVJM6cAQBBNawhY4NCpQAAAABJRU5ErkJggg==");
    --icon-polywonks: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath style='fill:%23000;fill-opacity:1;stroke:none;stroke-width:64;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' d='m 64,32 c -0.729108,0 -1.457953,0.04444 -2.185547,0.109375 C 45.664085,33.222284 32.888838,46.221408 32.056641,62.388672 32.021174,62.92526 32,63.462806 32,64 V 84.6875 L 84.6875,32 Z M 107.3125,32 32,107.3125 v 25.375 L 132.6875,32 Z m 48,0 L 32,155.3125 V 192 c 0,0.53719 0.02117,1.07474 0.05664,1.61133 0.832201,16.16726 13.607446,29.16639 29.757812,30.27929 C 62.542048,223.95556 63.270892,224 64,224 H 164.6875 L 90.34375,149.65625 c -5.146289,-5.00513 -1.606565,-13.73099 5.572266,-13.73633 2.162333,-9.4e-4 4.232974,0.87339 5.740234,2.42383 L 187.3125,224 h 25.375 l -98.34375,-98.34375 c -5.14629,-5.00513 -1.60656,-13.731 5.57227,-13.73633 2.16233,-9.4e-4 4.23297,0.87339 5.74023,2.42383 L 224,212.6875 v -25.375 l -85.65625,-85.65625 c -5.14629,-5.005134 -1.60656,-13.730993 5.57227,-13.736328 2.16233,-9.43e-4 4.23297,0.873391 5.74023,2.423828 L 224,164.6875 V 64 c 0,-0.537194 -0.0212,-1.07474 -0.0566,-1.611328 C 223.11108,46.221409 210.33592,33.222285 194.18555,32.109375 193.45795,32.044439 192.72911,32 192,32 Z'/%3E%3C/svg%3E");
    --icon-tools: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg transform='translate(256, 256) scale(0.8) translate(-256, -256)' %3E%3Cpath fill='%23000' d='M507.73 109.1c-2.24-9.03-13.54-12.09-20.12-5.51l-74.36 74.36-67.88-11.31-11.31-67.88 74.36-74.36c6.62-6.62 3.43-17.9-5.66-20.16-47.38-11.74-99.55.91-136.58 37.93-39.64 39.64-50.55 97.1-34.05 147.2L18.74 402.76c-24.99 24.99-24.99 65.51 0 90.5 24.99 24.99 65.51 24.99 90.5 0l213.21-213.21c50.12 16.71 107.47 5.68 147.37-34.22 37.07-37.07 49.7-89.32 37.91-136.73zM64 472c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    --icon-explorer: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='none' height='28' viewBox='0 0 28 28' width='28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.965 7H6.049S4 7.078 4 9v15s0 2 2.049 2l11.267-.004C19.364 26 19.364 24 19.364 24V12.509zm-1.746 2v5h4.097v10H6.049V9zm5.642-6h-8.699s-2.065.016-2.08 2h8.21v.454L20.317 10h1.095v12c2.048 0 2.048-1.995 2.048-1.995V8.648z' fill='%23fff'/%3E%3C/svg%3E");
    --icon-refresh: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M12.6 6.134l-.094.071c-.269.333-.746 1.096-.91 2.375.057.277.092.495.092.545 0 2.206-1.794 4-4 4a3.986 3.986 0 0 1-2.817-1.164 3.987 3.987 0 0 1-1.163-2.815c0-2.206 1.794-4 4-4l.351.025v1.85S9.685 5.679 9.69 5.682l1.869-1.577-3.5-2.917v2.218l-.371-.03a5.75 5.75 0 0 0-4.055 9.826 5.75 5.75 0 0 0 9.826-4.056 5.725 5.725 0 0 0-.859-3.012z' fill='%23000'/%3E%3C/svg%3E");
    --icon-expanded: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M11 10H5.344L11 4.414V10z'/%3E%3C/svg%3E");
    --icon-collapsed: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M6 4v8l4-4-4-4zm1 2.414L8.586 8 7 9.586V6.414z'/%3E%3C/svg%3E");
    --icon-close: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.428 8L12 10.573 10.572 12 8 9.428 5.428 12 4 10.573 6.572 8 4 5.428 5.427 4 8 6.572 10.573 4 12 5.428 9.428 8z' fill='%23000'/%3E%3C/svg%3E");
    --icon-check: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='-2 -2 16 16'%3E%3Cpath fill='%23424242' d='M9 0L4.5 9 3 6H0l3 6h3l6-12z'/%3E%3C/svg%3E");
    --icon-submenu: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.52 12.364L9.879 7 4.52 1.636l.615-.615L11.122 7l-5.986 5.98-.615-.616z' fill='%23000'/%3E%3C/svg%3E");
    --icon-options: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M11 4.414H5.344L8.172 10L11 4.414z' stroke-linejoin='round' stroke='%23000'/%3E%3C/svg%3E");
    --icon-modified: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16'%3E%3Ccircle fill='%23C5C5C5' cx='8' cy='8' r='4'/%3E%3C/svg%3E");
    --icon-settings: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='none' height='28' viewBox='0 0 28 28' width='28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.662 16.39L25 15.834v-3.666l-3.333-.557a8.05 8.05 0 0 0-.556-1.342l1.964-2.75-2.593-2.592-2.753 1.965c-.215-.113-.412-.25-.641-.344-.23-.094-.472-.136-.698-.209L15.834 3h-3.666l-.557 3.333c-.463.145-.912.33-1.342.556L7.52 4.925 4.927 7.518l1.965 2.753c-.113.215-.25.412-.344.641-.094.23-.136.472-.209.698L3 12.166v3.666l3.333.557c.145.463.33.912.556 1.342l-1.964 2.75 2.593 2.592 2.753-1.967c.215.113.412.25.641.346.23.096.472.136.698.209L12.166 25h3.666l.557-3.333a8.05 8.05 0 0 0 1.342-.556l2.75 1.964 2.592-2.593-1.967-2.753c.113-.215.25-.413.344-.643.094-.23.14-.463.212-.696zM14 17.476a3.477 3.477 0 1 1 0-6.953 3.477 3.477 0 0 1 0 6.953z' fill='%23fff'/%3E%3C/svg%3E");
    --icon-visible: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16'%3E%3Cpath d='m 8,3.2304688 c -3.0569791,0 -5.8293771,1.674045 -7.875,4.390625 -0.1669228,0.2225599 -0.1669228,0.5332993 0,0.7558593 2.0456229,2.7198599 4.8180209,4.3925779 7.875,4.3925779 3.05698,0 5.829377,-1.674045 7.875,-4.3906248 0.166922,-0.2225599 0.166922,-0.5332994 0,-0.7558593 C 13.829377,4.9031868 11.05698,3.2304688 8,3.2304688 Z M 7.78125,4.6425781 C 9.810508,4.5149381 11.485069,6.18622 11.357422,8.21875 11.249413,9.8912501 9.891252,11.249412 8.21875,11.357422 6.1894924,11.485062 4.5149312,9.8137801 4.6425781,7.78125 4.7473139,6.10547 6.1054756,4.7473181 7.78125,4.6425781 Z M 7.841797,5.5527344 C 6.6190679,5.6324724 5.6280444,6.6190789 5.5527344,7.8417969 5.4552704,9.3214739 6.6785261,10.540256 8.1582031,10.447266 9.3765011,10.371968 10.367536,9.3853611 10.447266,8.1582031 10.54473,6.6785271 9.3214729,5.4597444 7.841797,5.5527344 Z'/%3E%3C/svg%3E");
    --icon-hidden: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16'%3E%3Cpath d='M 1.6796875,1.0800781 0.72070312,2.0410156 3.3164062,4.6367188 C 2.1304772,5.3785405 1.0524211,6.3894817 0.125,7.6210938 c -0.1669228,0.2225599 -0.1669228,0.5332993 0,0.7558593 2.0456229,2.7198599 4.8180209,4.3925779 7.875,4.3925779 1.0076983,0 1.9787224,-0.198769 2.908203,-0.541015 l 2.691406,2.691406 0.960938,-0.958984 L 12.234375,11.634766 10.648438,10.048828 10.005859,9.40625 6.59375,5.9941406 5.9492188,5.3496094 4.5703125,3.9707031 Z M 8,3.2304688 c -0.6814586,0 -1.3458637,0.096479 -1.9941406,0.2558593 L 7.2460938,4.7265625 C 7.4206427,4.6863072 7.5978677,4.65404 7.78125,4.6425781 9.810508,4.5149381 11.485069,6.18622 11.357422,8.21875 c -0.01178,0.1823858 -0.04564,0.359507 -0.08594,0.5332031 l 2.125,2.1249999 C 14.302664,10.198008 15.13717,9.3587413 15.875,8.3789062 16.041922,8.1563463 16.041922,7.8456068 15.875,7.6230469 13.829377,4.9031868 11.05698,3.2304688 8,3.2304688 Z M 8.0839844,5.5644531 10.4375,7.9179688 C 10.396756,6.6318237 9.370275,5.6093546 8.0839844,5.5644531 Z m -3.0234375,0.8164063 0.6875,0.6875 C 5.646443,7.3116482 5.5696625,7.5669551 5.5527344,7.8417969 5.4552704,9.321474 6.6785261,10.540256 8.1582031,10.447266 8.4322406,10.430328 8.6884097,10.353503 8.9316406,10.251953 L 9.6171875,10.9375 C 9.1972311,11.174175 8.723865,11.324802 8.21875,11.357422 6.1894924,11.485062 4.5149312,9.8137801 4.6425781,7.78125 4.6742095,7.2751449 4.8241551,6.8010985 5.0605469,6.3808594 Z'/%3E%3C/svg%3E");
    --icon-resources: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='14' height='14'%3E%3Cpath fill='%23000' d='M480 416v16c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V176c0-26.51 21.49-48 48-48h16v208c0 44.112 35.888 80 80 80h336zm96-80V80c0-26.51-21.49-48-48-48H144c-26.51 0-48 21.49-48 48v256c0 26.51 21.49 48 48 48h384c26.51 0 48-21.49 48-48zM256 128c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-96 144l55.515-55.515c4.686-4.686 12.284-4.686 16.971 0L272 256l135.515-135.515c4.686-4.686 12.284-4.686 16.971 0L512 208v112H160v-48z'%3E%3C/path%3E%3C/svg%3E");
    --icon-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='14' height='14'%3E%3Cpath fill='%23000' d='M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z'%3E%3C/path%3E%3C/svg%3E");
    --icon-texture: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='14' height='14'%3E%3Cpath fill='%23000' d='M149.333 56v80c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V56c0-13.255 10.745-24 24-24h101.333c13.255 0 24 10.745 24 24zm181.334 240v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm32-240v80c0 13.255 10.745 24 24 24H488c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24zm-32 80V56c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm-205.334 56H24c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24zM0 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H24c-13.255 0-24 10.745-24 24zm386.667-56H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zm0 160H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zM181.333 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24z'%3E%3C/path%3E%3C/svg%3E");
    --icon-background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='1.7656' x2='1.7656' y1='2.7656' y2='14.234' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-opacity='.6' offset='0'/%3E%3Cstop stop-opacity='.3' offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='m1.3824 2.3824v12.235h12.235v-12.235h-12.235z' fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='.76471px'/%3E%3Crect x='1.7656' y='2.7656' width='11.469' height='11.469' fill='url(%23a)'/%3E%3C/svg%3E");
    --icon-grid: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' stroke='%23000' stroke-width='.76471' stroke-linejoin='round'%3E%3Cpath d='m4.4412 2.3824v12.235'/%3E%3Cpath d='m7.5 2.3824v12.235'/%3E%3Cpath d='m10.559 2.3824v12.235'/%3E%3Cpath d='m13.618 5.4412h-12.235'/%3E%3Cpath d='m1.3824 8.5h12.235'/%3E%3Cpath d='m13.618 11.559h-12.235'/%3E%3Cpath d='m1.3824 2.3824v12.235h12.235v-12.235h-12.235z' stroke-width='.765'/%3E%3C/g%3E%3C/svg%3E");
    --icon-wireframe: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round'%3E%3Cpath d='m1.3824 2.3824v12.235h12.235v-12.235h-12.235z'/%3E%3Cpath d='m1.3824 14.618c4.0784-4.0784 8.1569-8.1569 12.235-12.235'/%3E%3C/g%3E%3C/svg%3E");
    --icon-vertices: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1.4957 14.504c4.0029-4.0029 8.006-8.0059 12.009-12.008' stroke='%23000' stroke-linecap='round' stroke-width='1'/%3E%3Crect x='5' y='6' width='5' height='5' fill='%23000'/%3E%3C/svg%3E");
    --icon-snap-grid: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23000' stroke-width='.76471'%3E%3Cg stroke-opacity='.5'%3E%3Cpath d='m4.4412 2.3824v12.235'/%3E%3Cpath d='m10.559 2.3824v12.235'/%3E%3Cpath d='m13.618 5.4412h-12.235'/%3E%3Cpath d='m13.618 11.559h-12.235'/%3E%3Cpath d='m1.3824 2.3824v12.235h12.235v-12.235h-12.235z' fill='none' stroke-linejoin='round'/%3E%3C/g%3E%3Cpath d='m7.5 2.3824v12.235'/%3E%3Cpath d='m1.3824 8.5h12.235'/%3E%3C/g%3E%3C/svg%3E");
    --icon-snap-objects: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23000' stroke-linecap='round'%3E%3Cg opacity='0.5'%3E%3Cpath d='m1.4957 14.504c4.0029-4.0029 8.006-8.0059 12.009-12.008' stroke-width='1'/%3E%3Crect x='5' y='6' width='5' height='5' fill='%23000' stroke='none'/%3E%3C/g%3E%3Cg stroke-width='.76471'%3E%3Cpath d='m7.5 2.3824v12.235'/%3E%3Cpath d='m1.3824 8.5h12.235'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.tools-icon { mask-image: var(--icon-tools); -webkit-mask-image: var(--icon-tools); }
.explorer-icon { mask-image: var(--icon-explorer); -webkit-mask-image: var(--icon-explorer); }
.settings-icon { mask-image: var(--icon-settings); -webkit-mask-image: var(--icon-settings); }
.refresh-icon { mask-image: var(--icon-refresh); -webkit-mask-image: var(--icon-refresh); }
.visible-icon { mask-image: var(--icon-visible); -webkit-mask-image: var(--icon-visible); }
.hidden-icon { mask-image: var(--icon-hidden); -webkit-mask-image: var(--icon-hidden); }
.resources-icon { mask-image: var(--icon-resources); -webkit-mask-image: var(--icon-resources); }
.image-icon { mask-image: var(--icon-image); -webkit-mask-image: var(--icon-image); }
.texture-icon { mask-image: var(--icon-texture); -webkit-mask-image: var(--icon-texture); }
.background-icon { mask-image: var(--icon-background); -webkit-mask-image: var(--icon-background); }
.grid-icon { mask-image: var(--icon-grid); -webkit-mask-image: var(--icon-grid); }
.wireframe-icon { mask-image: var(--icon-wireframe); -webkit-mask-image: var(--icon-wireframe); }
.vertices-icon { mask-image: var(--icon-vertices); -webkit-mask-image: var(--icon-vertices); }
.snap-grid-icon { mask-image: var(--icon-snap-grid); -webkit-mask-image: var(--icon-snap-grid); }
.snap-objects-icon { mask-image: var(--icon-snap-objects); -webkit-mask-image: var(--icon-snap-objects); }

/* base styles */

*, ::before, ::after {
    box-sizing: border-box;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: 50%;
    -webkit-mask-position: 50%;
}

:focus {
    outline: none;
    outline-offset: 0;
}

ul, ul li, ul ul li {
   margin: 0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}

input, button {
    border: 0 none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

input {
    background-color: rgb(var(--theme-control));
}

button {
    background-color: rgb(var(--theme-icon));
}

button:hover, button:active, button.active {
    background-color: rgb(var(--theme-icon-active));
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    user-select: none;
    -moz-user-select: none;
    font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    background-color: rgb(var(--theme-back-0));
    color: rgb(var(--theme-text));
}

/* scrollbars */

* {
    scrollbar-color: rgb(var(--theme-scrollbar-0)) rgb(var(--theme-scrollbar-2));
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-corner {
    box-shadow: var(--theme-scrollbar-shadow-corner);
    background-color: rgb(var(--theme-scrollbar-0));
}

::-webkit-scrollbar-track {
    box-shadow: var(--theme-scrollbar-shadow-track);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(var(--theme-scrollbar-1));
    box-shadow: var(--theme-scrollbar-shadow-thumb);
}

/* startup loader */

.startup-loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startup-loading > div {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    border: 2px solid rgb(var(--theme-icon-active), var(--theme-disabled-alpha));
    border-top-color: rgb(var(--theme-icon-active));
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
