body {
    background-color: #1e1e1e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    color: #ccc;
}

button {
    background-color: #c5c5c5;
}

button:hover, button:active, button.active {
    background-color: #fff;
}

input, .textbox {
    background-color: #3c3c3c;
}

.textbox:focus, .textbox:focus-within, .textbox.active,
.select:focus, .select:focus-within,
.select.active, .select-options {
    outline: 1px solid #007acc;
}

.select > .textbox:focus, .select > .textbox:focus-within {
    outline: none;
}

.textbox > button.color-icon-button {
    border: 1px solid #444;
}

.textbox > button.color-icon-button:hover,
.textbox > button.color-icon-button:focus,
.textbox.active > button.color-icon-button {
    border: 1px solid #666;
}

.property-sheet .invalid {
    outline: 1px solid #f00;
}

.property-sheet .modified {
    color: #fff;
}

.select, .select-options {
    background-color: #3c3c3c;
}

.select::after {
    background-color: #ccc;
}

.select-options > .select-item.current {
    background-color: #062F4A;
}

.select.readonly, .textbox.readonly {
    opacity: 0.4;
}

.combobox.readonly > .textbox.readonly {
    opacity: 1;
}

.property-sheet > label.readonly {
    opacity: 0.4;
}

.startup-loading > div {
    border-color: rgba(255, 255, 255, .3);
    border-top-color: #fff;
}

.sidebar-panel {
    background-color: #252526;
}

.sidebar-toolbar {
    background-color: #333;
}

.titlebar,
.statusbar {
    background-color: #3c3c3c;
}

.panel-header {
    background-color: rgba(128, 128, 128, 0.2);
}

.tree-view li.selected > label {
    background-color: #37373d;
}

.menubar > .menu-item:hover,
.menubar > .menu-item.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu {
    background-color: #252526;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.5);
}

.menu .menu-item:not(.separator):not(.disabled):hover,
.menu .menu-item.active {
    color: #fff;
    background-color: #094771;
}

.menu-item.disabled,
.menu-item.separator {
    opacity: 0.4;
}

.menu-item.separator {
    border-color: #bbb;
}

.menu > .menu-item.checked::before,
.menu > .menu-item.has-submenu::after {
    background-color: #ccc;
}

.menu > .menu-item.checked.active::before,
.menu > .menu-item.checked:hover::before,
.menu > .menu-item.has-submenu.active::after,
.menu > .menu-item.has-submenu:hover::after {
    background-color: #fff;
}

.multi-panel-view > .panel-view > .panel-header:before,
.tree-view li.with-subitems::before {
    background-color: #e8e8e8;
}

.tree-view span[class*="icon"] {
    background-color: #e8e8e8;
}

.list-view li:hover {
    background-color: #2a2d2e;
}

.list-view li.active {
    color: #fff;
    background-color: #37373d;
}

.list-view li.tool-properties {
    background-color: transparent;
}

.tab-view > .tab-container {
    background-color: #252526;
}

.tab-view > .tab-container > .tab {
    color: rgba(255, 255, 255, 0.5);
    background-color: #2d2d2d;
    border-color: #252526;
}

.tab-view > .tab-container > .tab.active {
    color: #fff;
    background-color: #1e1e1e;
}

.dialog {
    background-color: #252526;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.5);
}

.dialog-overlay.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.dialog-overlay.active > .dialog {
    box-shadow: 0 0px 10px 4px rgb(0, 0, 0, 0.5);
}

.dialog-header {
    background-color: rgba(0, 122, 204, 0.5);
}

.dialog button {
    background-color: #333;
}

.dialog button:hover, .dialog button:active {
    background-color: #333;
}

.dialog button:focus {
    outline: 1px solid #007acc;
}

.color-picker {
    outline: 1px solid #007acc;
    background-color: #252526;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.5);
}

.color-picker-ctrls > :focus-within {
    outline: 1px solid #007acc;
}

.color-picker-handle::before {
    border-left-color: #ccc;
}

.color-picker-handle::after {
    border-right-color: #ccc;
}

.color-picker-palette button {
    border: 1px solid #252526;
}

.color-picker-palette button:hover,
.color-picker-palette button:focus {
    border: 1px solid #666;
}

.color-picker-palette button.active {
    border: 2px solid #007acc;
}

.titlebar-icon {
    background-color: #007acc;
}

.editor {
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.5);
}

li.active-layer > label {
    color: white;
}

* {
    scrollbar-color: #1e1e1e #3c3c3c;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-corner {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1e1e1e;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
