body {
    background-color: #1e1e1e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    color: #ccc;
}

button {
    background-color: #c5c5c5;
}

button:hover {
    background-color: #fff;
}

.startup-loading > div {
    border-color: rgba(255, 255, 255, .3);
    border-top-color: #fff;
}

.sidebar {
    background: #252526;
}

.titlebar,
.statusbar {
    background: #3c3c3c;
}

.panel-header {
    background-color: rgba(128, 128, 128, 0.2);
}

.tree-view li.selected > label {
    background-color: #37373d;
}

.menubar > .menu-item:hover,
.menubar > .menu-item.active {
    background: rgba(255, 255, 255, 0.1);
}

.menu {
    background: #252526;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.5);
}

.menu .menu-item:not(.separator):not(.disabled):hover,
.menu .menu-item.active {
    color: #fff;
    background: #094771;
}

.menu-item.disabled,
.menu-item.separator {
    opacity: 0.4;
}

.menu-item.separator {
    border-color: #bbb;
}

.menu > .menu-item.checked::before,
.menu > .menu-item.has-submenu::after {
    background-color: #ccc;
}

.menu > .menu-item.checked.active::before,
.menu > .menu-item.checked:hover::before,
.menu > .menu-item.has-submenu.active::after,
.menu > .menu-item.has-submenu:hover::after {
    background-color: #fff;
}

.multi-panel-view > .panel-view > .panel-header:before,
.tree-view li.with-subitems::before {
    background-color: #e8e8e8;
}

.tab-view > .tab-container {
    background-color: #252526;
}

.tab-view > .tab-container > .tab {
    color: rgba(255, 255, 255, 0.5);
    background-color: #2d2d2d;
    border-color: #252526;
}

.tab-view > .tab-container > .tab.active {
    color: #fff;
    background-color: #1e1e1e;
}

.tab-view > .tab-container > .tab > .close {
    background-color: #fff;
}

.titlebar-icon {
    background-color: #007acc;
}

.editor {
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.5);
}

* {
    scrollbar-color: #1e1e1e #3c3c3c;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-corner {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1e1e1e;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
